<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SINIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SINIS.Properties.Settings>
            <setting name="loginsaveusername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqlhost" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqldatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqluser" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqlpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqlport" serializeAs="String">
                <value />
            </setting>
        </SINIS.Properties.Settings>
    </userSettings>
</configuration>